<%- include('partials/header.ejs') %>
  <div class="container">
    <form class="form-control" action="/users/resetPassword" method="post">
      <h1>Change password</h1>
      <% if(error) { %> 
        <p class="err-msg"><%=error%></p>
      <% } %>
      <input type="text" name="email" placeholder="Enter Your email">
      <input type="password" name="password" placeholder="Enter new password">
      <input type="password" name="confirm" placeholder="Confirm password">
      <input type="submit" value="Change Password">
    </form>
  </div>
<%- include('partials/footer') -%>
